/* SPDX-FileCopyrightText: Copyright 2024 ksk */
/* SPDX-License-Identifier: MPL-2.0 */

@import "@fontsource/noto-sans";

:root {
    --hue: 208;
}

body {
    font-family: "Noto Sans", sans-serif;

    margin: 0;

    background-color: hsl(var(--hue), 40%, 10%);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a.active {
    color: #ddd;
}

a:hover {
    text-decoration: hsl(var(--hue), 40%, 80%) wavy underline;
}

.footer {
    background-color: hsl(var(--hue), 40%, 20%);
    padding: 1rem;
    border-top: 2px solid hsl(var(--hue), 40%, 30%);
}

.footer__logo {
    display: block;
    margin: 0 auto;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 0 8rem;
}
